<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Queues">
      <section name="Queue1" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <Queues>
    <Queue1>
      <add key="QueueName" value="Main Queue" />
      <add key="QueuePath" value="<%= @install_path %>\Queue" />
      <add key="Sessions" value="64" />
      <add key="RepeatAfter" value="10" />
      <add key="PollQueue" value="10" />
      <add key="CancelSending" value="5" />
      <add key="DoNotMove" value="True" />
      <add key="Timeout" value="3" />
      <add key="SMTPHost" value="localhost" />
      <add key="SMTPPort" value="25" />
      <add key="POP3" value="False" />
      <add key="POP3Port" value="110" />
      <add key="POP3Poll" value="10" />
      <add key="Log" value="Daily" />
      <add key="LogAll" value="False" />
      <add key="DebugFlags" value="0" />
    </Queue1>
  </Queues>
  <appSettings>
    <add key="LastQueue" value="Queue1" />
  </appSettings>
</configuration>
